__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
build/
dist/

.env
*.db
*.db-journal
*.db-wal
*.db-shm

.mypy_cache/
.ruff_cache/
.pytest_cache/
.pytest-tmp*/
htmlcov/
.coverage

.vscode/
.idea/
*.swp
